# Ignore data directory and all its contents
web/data/*
tools/process/*
*:Zone.Identifier
process/*
.vscode/
todo/*

/vendor/

# Ignore production config
web/config.prod.php

# Ignore editor config (contains credentials)
config/edit-config.php

# Ignore logs directory
logs/
